html{
position: relative;
min-height: 100%;
}

body {
    margin: 0; /* bottom = footer height */
    }

footer {
    background-color: rgb(47, 20, 189);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
    overflow:hidden;
}
.rssDiv{
  margin: 10% 0 2px 1%;


}
.ng-scope{
  margin: 10% 0 2px 1%;

}
.fb-like{
  margin:5px 0 0 0;
	float:left;
  max-width: 200px;
}
.email {
  padding: 2.5px 5px 1.5px 5px;
  border-radius: 1px;
  margin: 5px 4px 0 2% ;
  background-color: rgb(72, 100, 180);
  width: auto;
  font-size: 11px;
  display: inline-block;
  width: auto;
  text-align: center;
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  color:white;
  float: left;
}


.navbar{
	height: 3em;
	width: 100%;
	margin: 0 auto;
	background-color: #00446a;}


.btn{
border-color:silver;
border-radius: 15px;
border-style: outset;
border-width: medium;
margin: .5em .2em 0 .2em ;
background-color: rgb(47, 20, 189);
width: auto;
font-size: .9em;
display: inline-block;
width: auto;
text-align: center;
font-family: inherit;
font-weight: bold;
color:white;
float: left;

}



label{
padding-top: .75em;
}


/*--------@media--400----------------*/
@media (min-width: 400px) {

	.navbar{
	height: 4em;}

	.btn{
	margin: .5em .2em 0 .2em ;
	font-size: 1.1em;
	}

  .ng-scope{
    margin: 7% 0 2px 1%;
    position:absolute center;
  }


/*--------@media--600----------------*/
@media (min-width: 600px) {

	.navbar{
	height: 5em;}

	.btn{
	margin: .3em 1em;
	font-size: 1.8em;
	}

  .ng-scope{
    margin: 6% 0 2px 1%;
    position:absolute center;
  }

/*--------@media--800----------------*/

@media (min-width: 800px) {

	.btn{
	margin: .4em 1.8em;
	font-size: 2em;
	}

  .ng-scope{
    margin: 5.5% 0 2px 1%;}

.navbar{
height: 5.6em;}

/*--------@media--1000----------------*/
@media (min-width: 1000px)
{
  .ng-scope{
    margin:  5.25% 0 2px 1%;}

.navbar{
height: 6.6em;}

.btn{
margin: .3em 2em;
font-size: 2.5em;
}
/*--------@media--1200----------------*/
@media (min-width: 1200px)
{
.navbar{
height: 6.8em;}

.ng-scope{
  margin: 4% 0 2px 1%;
  position:absolute center;
}

.btn{
margin: .3em 2.5em;
font-size: 2.7em;
}
